.header{
  padding: 51px 0 44px;
  position: relative;
  & a{
    color: black;
  }
  &__{

    &wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &list{
      display: flex;
      justify-content: space-around;
      width: 45%;
      transition: all .5s;
      margin-bottom: 0;
      //column-gap: 45px;
      &-item{
        display: flex;
        align-items: flex-end;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: black;
      }
      &-item.active{
        color: #6E9C9F;
        //font-size: 16px;
      }
    }
    &links{
      display: flex;
      align-items: center;
      column-gap: 10px;
      &-profile{
        display: none;
        &:hover{
          color: red;
        }
        &.active{
          color: red;
        }
      }
      &-cart{
        position: relative;
        &:hover{
          color: red;
        }
        &.active{
          color: red;
        }
        &Num{
          background-color: lightskyblue;
          //color: white;
          width: 20px;
          height: 20px;
          display: flex;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: -15px;
          top: -10px;;
          line-height: 100% ;
        }
      }
      &-profile{
        display: flex;
      }
    }
    &logo-icon{
      width: 18px;
      height: 25px;
      margin-right: 14px;
    }
    &call-icon{
      margin-right: 13px;
    }

    &language{
      //margin-top: 10px;
      display: flex;
      gap: 10px;
      margin-right: 12px;
      &-btn{
        padding: 5px 10px;
        background-color: inherit;
        cursor: pointer;
        font-weight: bold;
        border: navy;
        border-radius: 5px;
        transition: all .5s;
        &:hover{
          //transform: scale(1.25);
        }
      }
    }

  }
}
.overlay{
  height: 200vh;
  width: 300vw;
  position: fixed;
  background: rgba(0,0,0,.2);
  z-index: 10;
  top: 0;
  left: 0;
}
.burger{
  width: 30px;
  display: none;
  &__line{
    width: 30px;
    height: 2px;
    background-color: #000;
    position: relative;
    &:before{
      content: '';
      width: 30px;
      height: 2px;
      background-color: #000000;
      position: absolute;
      bottom: -10px;
      transition: all .5s;
    }
    &:after{
      content: '';
      width: 30px;
      height: 2px;
      background-color: #000000;
      position: absolute;
      bottom: 10px;
      transition: all .5s;
      //color: snow;
    }

  }
}
.header__links-profile.active{
  //font-size: 50px;
  fill: #998E78;
  color: grey;
}
@media (max-width: 992px) {
  .burger{
    display: block;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 100  ;
    &_active{
      .burger__line{
        background: transparent;
        &:before{
          transform: rotate(45deg);
          top: 0;
        }
        &:after{
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
  }
  .header__list{
    opacity: 0;
    transition: 1s;
    transform: translateX(200%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    align-items: center;
    padding: 120px 0;
    border-radius: 10px 0 0 10px;
    background-color: #6E9C9F;
    &_active{
      opacity: 1;
      transform: translateX(0);
      transition: .8s;
    }
    &-item.active{
      color: white;
    }
  }
  &.header__wrapper{
    column-gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 700px) {

}
@media (max-width: 595px) {
  .header{
    &__{
      &links{
        column-gap: 30px;
      }
      &wrapper{
        position: relative;
        flex-direction: column;
        row-gap: 10px;
      }
      &language{
        position: absolute;
        top: 0;
        right: 10px;
      }

    }
  }
}
@media (max-width: 427px) {
  .header{
    &__links{
      column-gap: 100px;
      &-cart{
        margin: 0;
        width: 40px;
      }
    &-call{
      position: absolute;
      display: none;
      bottom: -60px;
    }
    }

    .logo{
      margin-right: 150px;
    }
  }
  .header__list{
    width: 100%;
  }
}