.cart{
}
.basket {
  padding: 100px 0 130px;
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
  &__crumbs {
    align-items: center;
    display: flex;
    column-gap: 13px;
    &-home {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }
    &-cart {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #919191;
    }

  }
  &__info{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 26px;
    &-color{
      margin: 0;
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
    &-empty{
      margin: 100px auto 100px;

      font-size: 33px;
    }
    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }
    &-list {
      display: flex;
      column-gap: 15px;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      //align-items: center;
      column-gap: 4px;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      width: 120px;
      text-align: center;
    }
    &-input{
      width: 50px;
      //padding: 0 0 0 px;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      border: 1px solid #AFAFAF;
      text-align: center;

    }


  }
  &__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    &-left {
      display: flex;
      column-gap: 32px;
      align-items: center;
    }
    &-name {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      max-width: 200px;
    }
    &-price {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }
    &-mark{
      cursor: pointer;
    }
    &-count {
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      padding: 3px 15px 5px;
      border: 1px solid #AFAFAF;
    }
    &-img{
      width: 100%;
      max-width: 136px;
      cursor: pointer;

    }
    &-sum {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
  &__ticket {
    margin-top: 77px;
    display: flex;
    justify-content: space-between;
    &-left {
      display: flex;
      column-gap: 16px;
      position: relative;
    }
    &-input {
      margin-top: 20px;
      width: 255px;
      height: 47px;
      border: none;
      border-bottom: 1px solid #000000;
      &::placeholder {
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #868686;
      }
    }
    &-message{
      position: absolute;
      bottom: -110px;
      left: 0;
      font-size: 22px;
    }
    &-btn {
      font-weight: 400;
      font-size: 17px;
      line-height: 138.9%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #6E9C9F;
      border: 1px solid #6E9C9F;
      background: transparent;
      width: 248px;
      height: 68px;
    }
  }
  &__pay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 100px;
    &-header {
      margin-right: 400px;
      display: flex;
      column-gap: 20px;
      justify-content: left;
    }
    &-info {
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 28px;

    }
    &-btns {
      display: flex;
      column-gap: 15px;
    }
    &-btn1 {
      width: 287px;
      height: 68px;
      background: #F1EADC;
      font-weight: 500;
      font-size: 25px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      border: none;
      display: flex;
      column-gap: 50px;
      justify-content: center;
      align-items: center;
    }
    &-btn2 {
      width: 236px;
      height: 68px;
      background: #6E9C9F;
      font-weight: 400;
      font-size: 17px;
      line-height: 138.9%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        color: white;
      }
    }
  }
}

@media (max-width: 992px) {
  .basket{
    &__info-item{
        width: 80px;
      }

  }
}
@media (max-width: 872px) {

  .basket{
    &__product-left{
      column-gap: 10px;
    }
    &__info-item{
      width: 58px;
    }
  }
}
@media (max-width: 761px) {
  .basket{
    &__info{
      flex-direction: column;
      &-item{
        width: 90px;
      }
    }
    &__product{
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
@media (max-width: 680px) {
  .basket{
    &__ticket{
      &-btn{
        width: 150px;
      }
      &-input{
        width: 200px;
      }
    }
  }
}
@media (max-width: 600px) {
  .basket{
    &__ticket{
      flex-direction: column;
      row-gap: 90px;
    }
    &__info-list{
      column-gap: 0;
      //width: 60px;
    }
    &__pay-header{
      margin-right: 150px;
    }
    &__pay-btns{
      flex-direction: column;
    }
  }
}
@media (max-width: 500px) {
  .basket{
    padding-top: 50px;
    &__info{
      margin-top: 100px;
    }
  }
}
@media (max-width: 420px) {
  .basket{
    &__info{
      display: none;
    }
   &__product{
     column-gap: 20px;
     flex-direction: row;
     &-img{
       width: 50vw;
       max-width: 100%;
     }
     &-left{
       flex-direction: column;
     }
   }
    &__info-item{
      width: 90px;
    }
    &__info-list{
      flex-direction: column;
      row-gap: 15px;
      width: 30%;
    }
  }
}
