.profile{
  padding-bottom: 290px;
  &__{

    &top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
      &-btn{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        &s{}
      }
      &-active{
        background: orange;
        color: white;
      }
    }

    &user{
      border: 1px solid black;
      padding: 30px;
      margin-bottom: 20px;
      border-radius: 12px;
      &-err{
        color: #E55451;
        font-size: 14px;
        margin-top: 10px;
      }
      &-title{
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 140%;
        letter-spacing: 0.02em;
        margin-bottom: 17px;
      }
      &-btn{
        background-color: #fff;
        border-radius: 8px;
        border: none;
        min-height: 45px;
        padding: 3px 10px;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        span{
          color: orange;
        }
      }
      &-change{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      &-info{
        display: flex;
        column-gap: 13px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        row-gap: 40px;
        input{
          padding: 3px 15px;
          outline: none;
          border: 1px solid #6E9C9F;
        }
        //justify-content: space-between;
      }
      &-data{
        width: 20%;
        text-align: center;
        min-width: 150px;
        &_title{

        }
        display: flex;
        flex-direction: column;
        font-style: normal;
        margin: 0;
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000000;
      }
    }

    &orders{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      &-header{
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
      }
      &-list{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }
      &-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-img{
        width: 100px;
      }

      &-info{
       max-width: 220px;
      }
      &-card{
        margin-bottom: 100px;
      }

      &-footer{
        display: flex;
        align-items: center;
        &-left{
          margin-left: auto;
        }
        &-icon{
          margin: 0 5px;
          width: 50px;
          height: 45px;
          border-radius: 50%;
        }
      }
      &-notShownIcons{
        font-size: 20px;
      }
      &-arrow{


        &_active{
          transform: rotate(120deg);
          font-size: 15px;
          width: 15px;
        }
      }

    }


  }
}
@media (max-width: 626px) {
  .profile{
    &__top{
      flex-direction: column;
    }
    &__user{
      padding: 10px;
      &-info{
        justify-content: space-around;
      }
      &-data{
        font-size: 15px;

      }
    }

    &__orders{
      &-header{
        flex-direction: column;
      }
      &-list{
        margin-top: 20px;
      }
      &-info{
        margin-bottom: 10px;

      }
      &-item{

        flex-direction: column;
      }
      &-img{
        width: 80vw;
        margin-bottom: 10px;
        //position: absolute;
        //left: 20px;
        //width: 40vw;
      }
    }


  }
}