.contact{
  &__{
    &map{
      margin-top: 140px;
      height: 476px;
      width: 100%;
      //background-color: rgba(221, 221, 221, 1);
      margin-bottom: 130px;
      padding: 0 20px;
      &Block-links{
        display: flex;
        margin-bottom: 130px;
        & p{
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          width: calc(33% - 60px);
          font-weight: 500;
          font-size: 17px;
          line-height: 140%;
          letter-spacing: 0.02em;
        }
      }
    }


  }
}
@media (max-width: 795px) {
  .contact{
    &__mapBlock{

      &-links p{
        width: calc(33% - 6px);
        min-width: 180px;
      }
    }
  }
}
@media (max-width: 605px) {
  .contact{
    &__map{
      padding: 0;
    }
    &__mapBlock{

      &-links {
        row-gap: 20px;
        flex-wrap: wrap;

      }
    }
  }
}
