.shop{
  padding-bottom: 130px;
  &__{

    &list{
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin-bottom: 92px;
      margin-top: -40px;
    }
    &item{
      padding: 20px 65px;
      border: 1px solid black;
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      transition: all .3s;
      cursor: pointer;
      &:hover, &_active{
        background: #000;
        color: white;
      }
    }




  }
}