.magic {
  padding: 0 0 130px;
  display: flex;
  flex-direction: column;
  row-gap: 130px;
  &__content {
    display: flex;
    column-gap: 94px;
    align-items: center;
  }
  &__inner {
    width: calc(50% - 47px);
  }
  &__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    margin-bottom: 46px;
  }
  &__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
  &__go {
    text-align: center;
  }
  &__btn {
    height: 68px;
    padding: 0 50px;
    background: #6E9C9F;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 130px;
  }
}
@media (max-width: 840px) {
  .magic{
    &__content{
      column-gap: 40px;
      justify-content: space-around;
    }
    &__img{
      min-width: 45vw;
    }
  }
}
@media (max-width: 660px) {
  .magic{
    &__text{
      font-size: 15px;
    }
  }
}
@media (max-width: 530px) {
  .magic{
    &__content{
      flex-direction: column;
      row-gap: 10px;
    }
    &__inner{
      width: 80%;
    }
    &__btn{
      margin: 0;
    }
  }
}