.collection{
  text-align: center;
  padding: 130px 0 150px;
  &__{

    &title{
      text-align-last: left;
      margin-bottom: 92px;
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      letter-spacing: 0.02em;
    }
    &row{
      margin-bottom: 70px;
      display: flex;
      justify-content: space-between;
      column-gap: 15px;
    }
    &card{
      cursor: pointer;
      &-title{
        text-align: center;
        margin: 24px 0  7px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        //color: #000000;
      }
    }
    &img{
      width: 100%;
    }

    &hover{
      position: relative;
    }
    &arrow{
      display: none;
      justify-content: center;
      align-items: center;
      left: 0;
      bottom: 1px;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(110, 156, 159, 0.64);
      &.active{
        display: flex;
      }
    }
    &price{
      display: flex;
      justify-content: center;
      column-gap: 10px;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.02em;
      color: #9C9C9C;
      &-old{
        text-decoration-line: line-through;
      }
    }
    &btn{
      cursor: pointer;
      padding: 22px 50px;
      font-weight: 400;
      font-size: 17px;
      letter-spacing: 0.02em;
      color: #6E9C9F;
      background-color: transparent;
      border: 1px solid #6E9C9F;
    }

  }
}
@media (max-width: 860px) {
  .collection{
    padding-top: 180px;
    &__row{
      flex-direction: column;
    }
    &__hover{
      display: flex;

      justify-content: center;
    }
    &__title{
      text-align-last: center;
    }
    &__card{
    }
    &__img{
      width: 100%;
      max-width: 90%;
    }
    &__arrow{
      position: absolute;
      right: 0;
      max-width: 315px;
      width: 90%;
      align-self: center;
      justify-self: center;
      margin: 0 auto;
    }
  }
}
@media (max-width: 450px) {
  .collection{
    padding-top: 100px;
  }
}