@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  line-height: 140%;
  font-family: Raleway,sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  max-width: 1120px;
  padding: 5px;
  margin: 0 auto;
}
//html:root{
//  color-scheme: dark;
//}
@media (prefers-color-scheme: dark) {
  a{
    color: black;
  }
}
.title{
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  max-width: 700px;
  margin-bottom: 26px;
  color: #000000;
}


html,body{
  height: 100%;
}
#root{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main{
  flex: 1 1 auto;
}


@import "Layout/Header/header";
@import "Layout/Footer/footer";
@import "src/pages/Home/home";
@import "src/pages/Brands/brands";
//это все принимает home.js

@import "pages/Login/login";
@import "pages/Register/register";
@import "pages/Profile/profile";
@import "pages/Contact/contact";
@import "pages/Shop/shop";
@import "pages/Product/product";
@import "pages/Cart/cart";
@import "pages/Checkout/checkout";

.swiper{
  max-width: 100%;
}